DB_NAME=badminton_circle_booking
DB_USERNAME=badminton
DB_PASSWORD=change-me
DB_ROOT_PASSWORD=change-root-password
DB_PORT=3306
LINE_LIFF_ID=YOUR_LIFF_ID
LINE_CHANNEL_ID=YOUR_LINE_CHANNEL_ID
LINE_CHANNEL_SECRET=YOUR_LINE_CHANNEL_SECRET
LINE_FRIENDSHIP_CHECK_ENABLED=true
